.accordion-button{
    background-color: rgba(15, 129, 186, 0.767);
    color: rgb(6, 19, 14);
}
.accordion-button:not(.collapsed){
    background-color: rgb(80, 114, 159);
    color: rgb(85, 58, 223);
}
.accordion-body{
    background-color: rgb(13, 93, 222);
    color: rgb(22, 20, 16);
}
.card-title1{
    color: rgb(20, 4, 4);
}
.card-text1{
    color: rgb(20, 4, 4);
}
.titulo{
    text-align: center;
}
body{
  background: linear-gradient(to right,
#20b0b5 0%,
#fffaf2 50%,
#41c0d6 100%);
    margin: 0px;
}
.card-body{
    background-color: #36a9d3;
}
footer{
    background: linear-gradient(to right, #2c2c2c, #2c5ea5);
    color: rgb(12, 12, 9);
    text-align: center;
    padding: 20px;
}